exportPattern("^[[:alpha:]]+")
importFrom(png, readPNG)
importFrom(RJSONIO, toJSON, fromJSON)
#importFrom(RCurl, getURL, url.exists, curlPerform, basicTextGatherer, curlEscape)
importFrom(XML, xmlParse, xmlChildren, xmlValue, xpathApply, xmlAttrs, xmlToList, htmlTreeParse)

S3method(print, clstats)
S3method(print, clcolor)
S3method(print, clcolors)
S3method(print, cllover)
S3method(print, cllovers)
S3method(print, clpalette)
S3method(print, clpalettes)
S3method(print, clpattern)
S3method(print, clpatterns)

S3method(plot, clcolor)
S3method(plot, clcolors)
S3method(plot, clpalette)
S3method(plot, clpalettes)
S3method(plot, clpattern)
S3method(plot, clpatterns)
